.page {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	transition: opacity 500ms ease-in-out;
}

.page-enter {
	opacity: 0;
}

.page-enter-active {
	opacity: 1;
}

.page-exit-active {
	opacity: 0;
}
